@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Reem+Kufi+Fun:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.navbardivX{
    box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
}

.card{
    border-radius: 1rem !important;
    background-color: #0000003b !important;
    padding: 0 !important;
    margin: 1rem;
}

.row a{
    width: 50%;
}
.row{
    --bs-gutter-x: 0 !important;
    justify-content: space-evenly;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.listing-title{
    display: inline;
}
.owner-name{
    float: right;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body{
    /* padding: 0 !important; */
    color: white !important;
    /* background-color: #915594 !important; */
    
}

.card-text{
    font-weight: 400 !important;

}

/* Default card-body styles */
.card-body {
    transition: background-color 0.3s ease;
}

/* Light theme */
.dark-theme-shadow .card {
    background-color: #ffffff3b !important;

}

/* Dark theme */
.light-theme-shadow .card {
    background-color: #0000003b !important;

}

/* card-effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay p:nth-child(3){
    color: #fa42f1;
}

.card-img-overlay:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    margin: 2rem;
    padding: 1rem !important;
    height: calc(20rem - 4rem) !important;
    border-radius: 1rem !important;
    transition: 0.5s;
}

@media (max-width :792px) {
    .row a{
        width: 100%;
        padding: 0 !important;
    }
}
@media (max-width :500px) {
    .listing-card{
        width: 90% !important;
    }
}


