@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Reem+Kufi+Fun:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    color: #ededed;
    /* animation: coloranimation3 48s ease-in infinite; */
    background: linear-gradient(90deg, #000, #131313);
    cursor: none;

}


.navbardiv {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 82px;
}


.logo {
    font-family: "Josefin Sans", sans-serif;
    position: relative;
    font-size: 2rem;
    color: #ededed;
    margin: 0px 4rem;
    line-height: 5rem;
    font-weight: 700;
    z-index: 1040;
}


.logo span {
    font-family: "Josefin Sans", sans-serif;
    transition: 0.5s;
}

.navbardiv:hover span:nth-child(1) {
    color: orange;
    margin-right: 10px;
}

.navbardiv:hover span:nth-child(1)::after {
    content: "'";
}

.navbardiv:hover span:nth-child(2) {
    color: orange;
    margin-left: 40px;
}

nav ul {
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 82px;
    position: fixed;
    left: -100%;
    transition: 0.5s;
    background-color: #000;
    z-index: 5;
}


nav ul li {
    list-style-type: none;
    line-height: 2.5rem;
    text-align: center;
    margin-top: 4rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

nav ul li a.active,
nav ul li a:hover {
    font-size: 4rem;
    color: rgb(181, 71, 148);
    transition: 0.5s ease;
}

#checkbtn {
    position: relative;
    float: right;
    line-height: 5rem;
    margin-right: 50px;
    font-size: 2rem;
    color: white;

}

#closemenu {
    position: relative;
    display: none;
    float: right;
    line-height: 5rem;
    margin-right: 3rem;
    font-size: 2rem;
    color: white;
    z-index: 10000;

}

#check:checked~#checkbtn {
    display: none;
}

#check:checked~#closemenu {
    display: block;
}

#check:checked~ul {
    left: 0%;
}

#checkbtn :active,
#closemenu :active {
    color: rgb(181, 71, 148);
}


#checkbtn:hover,
#closemenu:hover {
    font-size: 40px;
    transition: 0.5s;
}


#check {
    display: none;
}


@keyframes coloranimation2 {
    0% {
        background-image: url(assets/182428240217.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url(assets/823985479947.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    100% {
        background-image: url(assets/182428240217.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


}




/* content */

.main-content {
    display: flex;
    align-items: center;
    height: calc(100% - 82px);

}

.left-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.right-part {
    overflow: auto;
    width: 50%;
    height: 580px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.details {
    width: 600px;
    padding: 50px;
}

.details h1 {
    font-size: 55px;
    line-height: 1.2;
    font-family: "Reem Kufi Fun", sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    background: #4099c6 -webkit-gradient(linear, left top, right top, from(#4099c6), to(#4099c6), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-size: 150px;
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    animation: animate 5s infinite;


}

@keyframes animate {

    0%,
    10% {
        background-position: -1000px;
    }

    20% {
        background-position: top left;
    }

    90% {
        background-position: top right;
    }

    100% {
        background-position: 1000px;
    }
}


.details h3 {
    font-family: Marcellus SC;
    font-size: 32px;
    font-weight: 500;
}

.details p {
    line-height: 2rem;
    font-size: 20px;
    margin: 20px 0px 40px 0;
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
}

.btn-box {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: space-around;
    width: 345px;
    height: 50px;
    background-color: transparent;

}

.btn-box a {

    position: relative;
    display: inline-block;
    padding: 15px 25px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: #03e9f4;
    transition: .5s;
    overflow: hidden;
}

.btn-box a:hover {
    background-color: #03e9f4;
    color: #050801;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn-box a:first-child {
    filter: hue-rotate(225deg);
}

.btn-box a:last-child {
    filter: hue-rotate(90deg);
}

.btn-box span {
    position: absolute;
    display: block;
}

.btn-box span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.btn-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}

.btn-box a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s infinite;
    animation-delay: .5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    100% {
        right: 100%;
    }
}

.btn-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    }
}


.picture {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.picture img {
    margin: 2px;
    float: right;
    width: 100%;
    height: 100%;
    border-top-left-radius: 50%;
    z-index: 0;
animation: homeanimation 48s infinite;
}
